<label class="input-with-label__label">
  <span class="input-with-label__caption">{{label}}</span>
  <input class="input-with-label__input" type={{type}} placeholder={{placeholder}}>
  <span class="input-with-label__error">{{errorText}}</span>
</label>