.button {
  padding: 12px 70px;
  background-color: $primary;
  color: white;
  border-radius: 8px;
  font-size: 13px;
  line-height: 100%;
  transition: opacity 0.4s ease-in;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
