<link rel="stylesheet" href="./index.scss">
<div class="profile-edit__wrapper">
  {{> sidebar/sidebar}}
  <div class="profile-edit">
    <div class="profile-edit__img-wrapper">
      <img class="profile-edit__img" src="../../../static/images/mock-user-avatar.svg" alt="аватар пользователя">
    </div>
    <ul class="profile-edit__fields">
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Старый пароль</span>
        <input class="profile-edit__field__value" value="123456" type="password"/>
      </li>
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Новый пароль</span>
        <input class="profile-edit__field__value" value="123456789" type="password"/>
      </li>
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Повторите новый пароль</span>
        <input class="profile-edit__field__value" value="123456789" type="password"/>
      </li>
    </ul>
    <div class="profile-edit__button-wrapper">
      {{> button/button type="submit" text="Сохранить"}}
    </div>
  </div>
</div>