<link rel="stylesheet" href="./index.scss">
<div class="profile-edit__wrapper">
  {{> sidebar/sidebar}}
  <div class="profile-edit">
    <div class="profile-edit__img-wrapper">
      <img class="profile-edit__img" src="../../../static/images/mock-user-avatar.svg" alt="аватар пользователя">
    </div>
    <ul class="profile-edit__fields">
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Почта</span>
        <input class="profile-edit__field__value" value="pochta@yandex.ru" type="text"/>
      </li>
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Логин</span>
        <input class="profile-edit__field__value" value="ivanivanov" type="text"/>
      </li>
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Имя</span>
        <input class="profile-edit__field__value" value="Иван" type="text"/>
      </li>
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Фамилия</span>
        <input class="profile-edit__field__value" value="Иванов" type="text"/>
      </li>
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Имя в чате</span>
        <input class="profile-edit__field__value" value="Иван" type="text"/>
      </li>
      <li class="profile-edit__field">
        <span class="profile-edit__field__label">Телефон</span>
        <input class="profile-edit__field__value" value="+7 (909) 967 30 30" type="text"/>
      </li>
    </ul>
    <div class="profile-edit__button-wrapper">
      {{> button/button type="submit" text="Сохранить"}}
    </div>
  </div>
</div>