.search-input {
  text-align: center;
  background-color: $gray-light;
  background-image: url('../../../static/images/search-icon.svg');
  background-position: calc(50% - 35px);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 100%;

  &:not(:placeholder-shown) {
    background-image: none;
  }
}
